version: '3.8'
services:
  backend:
    build: 
      context: ./recipe-planner-backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - JAVA_HOME=/opt/java/openjdk
  
  frontend:
    build:
      context: ./recipe-planner-fronend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    stdin_open: true
    depends_on:
      - backend
